
@import "../../../shared/styles/bootstrap/_functions.scss";
@import "../../../shared/styles/bootstrap/_variables.scss";
@import "../../../shared/styles/bootstrap/_mixins";
@import '../../../shared/styles/app/variables.scss';

.navigation-box-header {
  background-color:  $elter-primary-blue;
  text-decoration-color: $elter-primary-blue;
  text-emphasis-color: white;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.navigation-box {
  position: absolute;
  bottom: 2em;
  right: 2em;
  z-index: 400;
  width: 150px;
  height: 120px;
}

.navigation-box-body {
  position: absolute;
  z-index: 400;
  background-color: white;
  width: 150px;
  height: 100px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.navigation-box-header:hover {
width: 150px;
}
.navigation-box-body:hover{
width: 170px;
height: 120px;
}
.navigation-box:hover {
width: 170px;
height: 140px;
}